body {
    height: 100vh;
    background-color: #E9BD46;
}

P {
    font-size: 15px;
    font-family: Comic Sans MS;
    font-style: italic;
    text-transform: capitalize;
    text-align: left;
}

h1 {
    color: #C70039;
    font-size: 25px;
   font-family:Courier;
    text-decoration:underline;
    font-weight:bold;
    letter-spacing:1px;
}

